*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:linear-gradient(rgba(41, 41, 41, 0.671),rgba(41, 41, 41, 0.671)),url(Soldadura-chispas.jpg);
    background-size: cover;
    background-position: center;
    opacity: 1;
}
#banner {
    width: auto;
    position: relative;
    margin: 0 auto;
}

header {
    background:linear-gradient(rgb(101, 101, 102),rgba(230, 229, 229, 0.863));
    padding: 10px 10px;
    margin-bottom: 50px;
}
nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
nav li {
    display: inline;
    top: 50%;
    vertical-align: center;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    color: rgb(255, 255, 255);
}

nav a:active{
    color: blue;
}
a {
    text-decoration: none;
    color: black;
}
h2{
    color: black;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    vertical-align: middle;
}
.btn-open-popup{
    display: block;
}
.containerpopup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0vh;
    left: 0vw;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}
.containerpopup:target{
    background: rgba(0, 0, 0, 0.6);
    visibility: visible;
    opacity: 1;
}
.containerpopup:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}
.popup{
    width: 100%;
    max-width: 800px;
    height: 500px;
    display: flex;
    position: relative;
    top: -80%;
    left: -80%;
    transform: rotate(90deg) translate(-150%, -230%);
    background: rgb(255, 245, 160);
    transition: all 600ms;
    visibility: hidden;
}
.imgpopup0{
    width: 200%;
    background-image: url(ImagenesIndex/0.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup1{
    height: 100%;
    width: 60%;
    background-image: url(ImagenesIndex/1.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup2{
    width: 200%;
    background-image: url(ImagenesIndex/2.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup3{
    width: 240%;
    background-image: url(ImagenesIndex/3.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup4{
    width: 60%;
    background-image: url(ImagenesIndex/4.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup5{
    width: 40%;
    background-image: url(ImagenesIndex/5.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup6{
    width: 30%;
    background-image: url(ImagenesIndex/6.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup7{
    width: 80%;
    background-image: url(ImagenesIndex/7.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup8{
    width: 200%;
    background-image: url(ImagenesIndex/8.jpeg);
    background-size: cover;
    background-position: center;
}
.imgpopup9{
    width: 50%;
    background-image: url(ImagenesIndex/9.jpeg);
    background-size: cover;
    background-position: center;
}
.containertext{
    width: 80%;
    padding: 30px;
    overflow-y: auto;
}
.containertext h1{
    font-size: 30px;
}
.containertext p{
    margin-top: 20px;
    font-size: 16px;
}
.btn-close-popup{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -20px;
    right: -20px;
    background: black;
    color: white;
    border-radius: 50%;
    line-height: 10px;
    padding: 20px;
}
.foto_main{
    width: 10%;
    position: relative;
    border-radius: 50%;
}
.fotosubmenu{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
.tituloprincipal {
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(230, 229, 229, 0.863);
    font-size: 50px;
    text-transform: uppercase;
    margin: 5%;
    padding: 15px 15px 10px 15px;
    box-shadow: 0 3px 5px;
    border-radius: 10px;
}
.trabrealizados {
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(230, 229, 229, 0.863);
    font-size: 50px;
    text-transform: uppercase;
    margin: 5%;
    padding: 15px 0px 10px;
    box-shadow: 0 3px 5px;
    border-radius: 10px;
}
.tituloprincipal h2{
    margin: 5px;
}
.acercademi{
    background-color: rgba(230, 229, 229, 0.863);
    padding: 10px;
    line-height: 25px;
    font-size: 18px;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 0 3px 5px ;
}
.contactp{
    display: inline;
    line-height: 10px;
    vertical-align: text-top;
}
.acercademi h3{
    padding: 10px;
    font-size: 30px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.par_acercademi {
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
    position:relative;
    text-align: center;
    background: rgba(230, 229, 229, 0.863);
    padding: 10px;
    margin-top: 20px;
    
}
.contenedor_imagenes{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.contenedor_imagenes .imagensing{
    width: 24.5%;
    height: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    background: rgb(251, 234, 220);
    margin: 2px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7)
}
.imagensing img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width:1000px) {
    .contenedor_imagenes{
        width: 90%;
    }
    .contenedor_imagenes .imagensing{
        width: 30%;
    }
}
@media screen and (max-width:700px) {
    .contenedor_imagenes{
        width: 92%;
    }
    .contenedor_imagenes .imagensing{
        width: 48%;
    }
}
@media screen and (max-width:450px) {
    .contenedor_imagenes{
        width: 90%;
    }
    .contenedor_imagenes .imagensing{
        width: 80%;
    }
}